p {
	width: 50%;
	background: #FFF;
	margin: 10px;
	margin-left: 400px;
	border: 30px solid #B07BAC;
	padding: 30px;
	font-family: Arial;
	font-size: 2em;
	color: #F19953;
	align-content: center;
}
